*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    /*background-image: url("../3.jpg");
    background-size: cover;*/
}

header{
    left: 0;
    top:0;
    background: azure;
    position: fixed;
    height: 60px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    border-style: solid;
    border-left-color: azure;
    border-right-color: azure;
}

header h1{
    float: left;
    margin-top: 15px;
    margin-left: 45%;
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic;
}

header h3{
    float: left;
    margin-top: 4px;
    margin-left: 22%;
}

header a{
    float: left;
    margin-left: 1%;
    margin-top: 17px;
    color: black;
}

main{
    margin-top: 62px;
    width: 100%;
    text-align: center;
}

main .tags_form{
    height: 40px;
    background: black;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic;
}

main .search{
    width: 100%;
    display: inline-block;
}

.tags_form li{
    display: inline-block;
    margin-left: 5%;
    margin-top: 2px;
}

.tags_form a{
    color: azure;
}

main .demo{
    text-align: left;
    max-width: 80%;
    float: left;
    margin-top: 30px;
    margin-left: 12%;
    margin-bottom: 10px;
}

main .search_form input{
    float: left;
    margin-left: 14%;
    width: 30%;
    margin-top: 40px;
}

main .search_form button{
    float: left;
    margin-left: 1%;
    margin-top: 38px;
}

main article{
    max-width: 80%;
    margin: 10%;
    margin-top: 20px;
}

main section{
    float: left;
}

main .firstCol{
    width: 50%;
}

main .secondCol {
    width: 50%;
}

main article h2 a{
    color: black;
}

main article .tags a{
    color: cornflowerblue;
}

main article div .authorName{
    margin-left: 65%;
}

main article .tags, main article .dataCreated{
    float: left;
    margin-left: 2%;
}

main a{
    color: lightslategray;
}

footer .footerInfo{
    margin-top: 30px;
    width: 100%;
    height:40px;
    background: black;
    color: azure;
}

footer section{
    float: left;
}

footer .bossInfo{
    width: 50%;
    margin-left: 5%;
}

footer .lastChanges{
    width: 15%;
    margin-left: 25%;
}

footer .lastChanges .time{
    margin-left: 76%;
}

/* demo контейнер */
.demo {
    max-width: 1024px;
    padding: 0 20px;
    margin: 5% 10%;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    margin-left: 20px;
    padding: 10px;
    /* чуточку анимации при появлении */
    -webkit-animation:fade ease-in 0.5s;
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s;
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
.hide + label:before {
    background-color: #1e90ff;
    color: #fff;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hide:checked + label:before {
    content: "\2212";
}